
body{
	background: grey;
}
#espacio{
	height: 620px;
	width: 1003.16px;
	margin-left: 175px;
}

#barcos{
	width: 28%;
	padding: 1%;
	float: left;
	height: 600px;
}

#casillas{
	width: 68%;
	float: left;
	height: 600px;
	padding: 1%;
	background-image: url("../imagenes/radar.png");
	background-repeat: no-repeat;
	
}

.barco{
	float: left;
	margin-bottom: 4%;
	height: 80px;
	background-color: transparent ;
	border: 0;
	background-repeat: no-repeat;
}

#barco1{
	width: 160px;
	background-image: url("../imagenes/bloggif_597ec21d41164.png");
	margin-left: 22%;
}
#barco2{
	width: 130px;
	margin-left: 22%;
	background-image: url("../imagenes/bloggif_597ec123b29e2.png");
}
#barco3{
	width: 160px;
	margin-left: 18%;
	background-image: url("../imagenes/bloggif_597ec06ccb5f6.png");
}
#barco4{
	width: 190px;
	margin-left: 14%;
	background-image: url("../imagenes/bloggif_597ebfad5aabb.png");
}
#barco5{
	width: 220px;
	margin-left: 10%;
	background-image: url("../imagenes/bloggif_597ebf252fb87.png");
}

.boton1{
	text-align: center;
	float: left;
	font-size: 18px;
	width: 20%;
	margin-top: 10%;
	margin-left: 10%;
	border: solid 3px black;
	border-radius: 5px;
	background: #6BE805;
	opacity: 0.8;
	font:bold 20px "Trebuchet MS";
	box-shadow: 10px 10px 5px black;
}

.casilla{
	background: transparent;
	opacity: 0.5;
	float: left;
	width: 10.65%;
	border: solid 1px white;
	border-radius: 5px;
	
}
.grupoCasillas{
	width: 60%;
	padding-top: 2%;
	padding-left: 4.5%;
	margin-top: 8.8%;
	margin-bottom: 8%;
	margin-left: 19.25%;
}
#txtcasilla{
	text-align: center;
	color: white;
	margin-top: 35%;
}

#texto{
	width: 70%;
	text-align: center;
	margin-left: 15%;
	margin-top: 10%;
	font:bold 23px "Trebuchet MS";
	
}

#tableroJuego{
	display: none;
	background: black;
	width: 100%;
}


.batallaNaval{
	width: 80%;
	margin-left: 9%;
	float: left;
	height: 620px;
	padding-left:1%;
	padding-right:1%;



}


.casilla2{
	float: left;
	width: 12.5%;
	height: 6%;
	border: solid 1px white;
	opacity: 0.5;
	border-radius: 7px;
}

.contenedorBatalla{
	width: 100%;
	margin-left: 8%;
	margin-top: 1%;
}

.cuadro1{
	width: 40%;
	border: solid 10px black;
	box-shadow: 0px 0px 150px;
	border-radius: 5px;
	float: left;
	background-image: url("../imagenes/maparadar.png");
	background-repeat: no-repeat;
}

#logoBN{
	background-image: url("../imagenes/logo.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	margin-left: 37%;
	margin-top: 2%;
}

.info{
	width: 100%;
	background: gray;
	height: 155px;
	margin-bottom: 1%;
	text-align: center;;
}

#msj{
	margin-top: 3%;
}














.balaAnimacion{
	background: red;
	height: 100px;
	width: 100px;
	
}

@-webkit-keyframes gira 
{
	0% { transform: rotate(0deg); }
  25% { transform: rotate(30deg); }
  50% { transform: rotate(120deg); }
  100% { transform: rotate(360deg); }
}